$header: 'Questrial',
sans-serif;
$paragraph: 'Source Sans Pro',
sans-serif;

$primary: rgba(43, 45, 66, 1);
$secondary: rgba(217, 4, 41, 1);
$light: rgba(141, 153, 174, 1);
$white:rgba(237, 242, 244, 1);

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans:wght@100;300;400;700&family=Alfa+Slab+One&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Open+Sans:wght@300;400;700&family=Permanent+Marker&family=Poppins:wght@300;400&family=Questrial&family=Staatliches&display=swap');

.app {
    height: 100vh;
}

body {
    scroll-behavior: smooth;
    overflow: hidden;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(141, 153, 174, 1);
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(43, 45, 66, 1);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(141, 153, 174, 1);
    border-radius: 5px;
    border: 1px solid rgba(43, 45, 66, 1);
}

#bgimg img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-container {
    text-align: center;
    padding-bottom: 10px;

    #date {
        font-family: 'Staatliches', cursive;
        font-size: 5.6vh;
    }

    #time {
        font-family: 'Staatliches', cursive;
        font-size: 9vh;
    }
}

h1#title {
    color: $primary;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    opacity: 1;
    animation: fadeOut ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-delay: .5s
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

textarea#textareainput {
    text-align: center;
    height: 60vh;
    width: 80vw;
    font-size: 40px;
    font-weight: bold;
    background: rgba(242, 243, 243, 0.07);
    border-radius: 20px;
    border: none;
    padding: 0.225rem 0.5rem;
    text-shadow: 1px 1px 3px #ffffff;
}

textarea#textareainput.form-control.focus-visible {
    border: none;
    font-family: 'Questrial', sans-serif;
    font-size: 47px;
    background: rgba(242, 243, 243, 0.4);
}

footer {
    position: fixed;
    bottom: 0;

    a {
        text-decoration: none;
        color: $light;
    }
}